.img{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    
}

.img-2{
    width: 20%;
    height: 20%;
    background-color: blue;
}

.img-3{
    width: 20%;
    height: 20%;
    border: 1px solid black;
}

.text-3{
    font-size: 50px;
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    .img {
        width: 30%;
        height: 30%;
        border: 1px solid black;
    }

    .img-2{
        width: 20%;
    height: 20%;
        background-color: grey;
    }

    .text-3{
        font-size: 35px;
        text-transform: none;
    }
}

@media only screen and (max-width: 480px) {
    .img {
        width: 20%;
        height: 20%;
        border: 1px solid black;
        
    }

    .img-2{
        width: 20%;
    height: 20%;
        background-color: green;
    }

    .text-3{
        font-size: 20px;
        text-transform: lowercase;
    }
}



